movie-list, movie-list:after {
    content: "";
    display: block;
    clear: both;
}

movie-list ul {
    padding: 0;
}

movie-list li {
    list-style: none;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.6em;
    max-height: 300px;
    position: relative;
    overflow: hidden;
}
