<form>
    <div class="form-group">
        <label></label>
        <input class="form-control" type="text" value=""/>
        <button type="submit" class="btn btn-sm">
            Search
        </button>
    </div>
</form>

<template id="tpl">
    <h2>Flower</h2>
    <img src="img_white_flower.jpg">
</template>
